[run]
omit =
    *.egg/*
    *site-packages*
    *compat.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    except AttributeError
    except ImportError
    if __name__ == .__main__.:
