dist: xenial
services:
  - redis-server
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "pypy"
  - "pypy3"
  - "3.8-dev"
install:
  - make develop
script:
  - make test
after_success:
  - pip install -q python-coveralls
  - coveralls
