services:
  - redis-server
language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
install:
  - make develop
script:
  - make test
after_success:
  - pip install -q --use-mirrors python-coveralls
  - coveralls
