dist: xenial
services:
  - redis-server
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"
  - "pypy"
  - "pypy3.5-6.0"
install:
  - make develop
script:
  - make test
after_success:
  - pip install -q coveralls coveralls[yaml]
  - coveralls
