[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-magic = ">=0.4.5"
six = ">=1.5.0"
decorator = ">=4.0.0"
urllib3 = ">=1.25.3"
http-parser = ">=0.9.0"

[dev-packages]
pre-commit = "*"
pytest = ">4.6"
pytest-cov = "*"
mock = "*"
requests = "*"
redis = "*"
gevent = "*"
sure = "*"
pook = "*"
flake8 = "*"
twine = "*"
anaconda-client = "*"
pipfile = "*"
wheel = "*"

[requires]
python_version = "3.8"
