[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-magic = ">=0.4.5"
decorator = ">=4.0.0"
urllib3 = ">=1.25.3"
httptools = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
asgiref = "*"
requests = "*"
redis = "*"
gevent = "*"
sure = "*"
pook = "*"
flake8 = "<7"
xxhash = "*"
aiohttp = ">3.8.3"
httpx = "*"
pipfile = "*"
build = "*"
wheel = "*"
twine = "*"
anaconda-client = "*"
fastapi = "*"

[requires]
python_version = "3"
